.display {
    display: grid;
    gap: 5vw;
    aspect-ratio: 1 / .5;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: repeat(4, 1fr);
}

.box-display {
    display: grid;
    aspect-ratio: 1 / 1.5;
    width: 15vw;
    background-color: gray;
    justify-self: center;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex: auto;
    gap: 10px;
}

Button {
    width: 100%;
}

img {
    width: 100%;
}