.header {
    height: 10vh;
    min-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    gap: 20px;
    padding: 20px;
    background-color: rgb(41, 106, 50);
    position: fixed;
    top: 0;
}

.profile {
    justify-self: right;
    padding-right: 10px;
    margin: 0;
}