.header {
    height: 10vh;
    min-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    gap: 20px;
    padding: 20px;
    background-color: gray;
    position: fixed;
    top: 0;
}