.nav {
    min-height: 100vh;
    width: 10vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: gray;
    position: fixed;
    left: 0;
}

.profile {
    padding-right: 10px;
    margin: 0;
}

.nav-btn {
    min-height: 10vh;
}
