.nav {
    min-height: 100vh;
    width: 10vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: gray;
    position: fixed;
    left: 0;
}

.profile {
    padding-right: 10px;
    margin: 0;
}

.button {
    /* Normal button styles go here */
    background-color: #00ba09;
    /* Blue color */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    /* Optional - adds a transition effect */
}

.button:hover {
    /* Styles to apply on hover go here */
    background-color: #e1ff00;
    /* Green color */
    color: white;
}