.bill-container  {
  font-family: courier;
  margin-left: 40px;
  border-bottom-style: solid;
}

.category-text  {
  font-size: 25px;
  font-weight: 750;
}

.purchased-products  {
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
  margin: -20px 0;
}

.product-name-text  {
  text-align: left;
  width: 350px;
}

.product-price-text  {
  text-align: right;
}

.pay-bill-button  {
  width: 150px;
  height: 30px;
  margin: auto 50% 2% 45%;
  font-size: 20px;
}

.total-bill-text  {
  font-family: courier;
  font-size: 20px;
  text-align: center;
}