.your-bill-text  {
  text-align: center;
  
}

.sign-in-text  {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  width: 83%;
}

.bill-form  {
  display: block;
}

.pay-bill-container  {
  font-size: 20px;
  max-height: fit-content;
  max-width: fit-content;
  margin-inline: auto;
  margin-top: 100px;
  border-style: solid;
  padding: 20px;
}

.my-bill-container  {
  margin-left: 10vw;
  width: 83%;
}

.white-space-fix  {
  width: 83%;
}

.valid-info-warning  {
  color: red;
  font-size: 14px;
}

.pay-button  {
  width: 147px;
  margin-top: 30px;
}

.text-fields  {
  margin-top: 10px;
}