.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.login-row {
    display: flex;
    gap: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 10px 5px rgba(0.5, 0.5, 1, 1);
    background-color: rgba(255, 255, 255, 0.66);
    /* 2/3 translucent */
}

.login-submit {
    width: auto;
    padding: 5px;
    border-radius: 5%;
}

.main-title {
    font-size: max(24px, 6vw);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px;
}

body {
    background-image: url('../../images/login-screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}