.create-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.create-row {
    display: flex;
    gap: 10px;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.create-submit {
    width: auto;
    padding: 5px;
    border-radius: 5%;
}

.main-title {
    font-size: max(24px, 6vw);
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #e7e9ec;
}