.form-grid {
    display: grid;
    gap: 20px;
}

.bottom-gap {
    margin-bottom: 10px;
}

.grid-element {
    justify-self: center;
}

.grid-btn {
    width: auto;
    border-radius: 10px;
    padding: 5px;
}