.shop-display {
  display: grid;
  gap: 5vw;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: repeat(4, 1fr);
  overflow: scroll;
  margin-left: 10vw;
  margin-top: 30px;
  margin-bottom: 100px;
}

.product-box-display {
  display: grid;
  aspect-ratio: 1 / 1.5;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  padding: 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
  height: 350px;
}

.add-button {
  width: 100%;
  cursor: pointer;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
}

.product-box-display .add-button:hover {
  background-color: rgb(187, 187, 187);
  transition: 0.7s;
}

img {
  width: 100%;
  border-radius: 20px;
}

.not-staying-message  {
  margin-left: 30%;
  margin-top: 100px;
  font-size: 30px;
}